@model BudgetData.Models.TransactionsTableViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 xmlns="http://www.w3.org/1999/html">Kontoübersicht</h2>

<div style="display: flex; justify-content: space-between; align-items: flex-end">
    <form asp-controller="Transaction" asp-action="Index" method="get" class="m-1" style="width: 300px">
        <select asp-for="BudgetFilter" asp-items="Model.Budgets"></select>
            <input asp-for="SearchString" type="text" style="width: 180px"><br/>
            <input type="submit"/>
    </form>
    <div class="text-center" >
        Gesamtbetrag:
        <h2>@Html.DisplayFor(item => Model.TotalSum)</h2>
    </div>
    <div style="width: 300px"></div>
</div>

@foreach (var transaction in Model.TransactionsPerCategories)
{
    <table class="table">
        <thead>
        <tr>
            <th style="width: 100px">
                @Html.DisplayFor(model => transaction.Transactions[0].Budget)
            </th>
            <th style="width: 500px">
            </th>
            <th style="width: 100px">
            </th>
            <th style="width: 100px">
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in transaction.Transactions)
        {
            <tr class="transactioncolumn">
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTransaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionOfTransaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueOfTransaction)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <img src="~/images/edit.png" alt="Edit" height="20">
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/list.png" alt="Details" height="20">
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <img src="~/images/delete.png" alt="Delete" height="20">
                    </a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td>
                Summe:
            </td>
            <td>
            </td>
            <td>
                @Html.DisplayFor(abc => transaction.TotalSum)
            </td>
            <td>
            </td>
        </tr>
        </tfoot>
    </table>
}