@model BudgetData.Models.TransactionsTableViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Kontoübersicht</h2>

<div class="text-center">
    Gesamtbetrag:
    <h2>@Html.DisplayFor(item => Model.TotalSum)</h2>
</div>

<form asp-controller="Transaction" asp-action="Index" method="get">
    <p>
        <select asp-for="BudgetFilter" asp-items="Model.Budgets"></select>
        <input asp-for="SearchString" type="text">
        <input type="submit"/>
    </p>
</form>

@foreach (var transaction in Model.TransactionsPerCategories)
{
    <table class="table">
        <thead>
        <tr>
            <th style="width: 100px">
                @Html.DisplayFor(model => transaction.Transactions[0].Budget)
            </th>
            <th style="width: 500px">
            </th>
            <th style="width: 100px">
            </th>
            <th style="width: 100px">
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in transaction.Transactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTransaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionOfTransaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueOfTransaction)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <img src="~/images/edit.png" alt="Edit" height="20">
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/list.png" alt="Details" height="20">
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <img src="~/images/delete.png" alt="Delete" height="20">
                    </a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td>
                Summe:
            </td>
            <td>
            </td>
            <td>
                @Html.DisplayFor(abc => transaction.TotalSum)
            </td>
            <td>
            </td>
        </tr>
        </tfoot>
    </table>
}